<a
  routerLink="/"
  class="fixed top-0 left-0 p-2 md:p-6 text-xl md:text-7xl text-teal-600 hover:scale-105 active:scale-95 cursor-pointer transition-all"
  >←</a
>
<main class="grid gap-8 w-fit p-2">
  <h2
    class="px-6 py-2 bg-teal-700 text-white text-xl lg:text-5xl font-extralight rounded-xl text-center"
  >
    {{ (olympic$ | async)?.country }}
  </h2>
  <div class="grid md:flex gap-6 items-center w-full">
    <div
      class="h-full grid gap-2 lg:gap-4 place-content-center rounded-xl border-2 border-teal-700 p-4 w-full"
    >
      <h3 class="md:text-xl lg:text-2xl font-extralight text-center">
        Number of entries
      </h3>
      <ng-container *ngIf="olympic$ | async; else loading">
        <span class="text-center font-semibold text-xl lg:text-3xl">{{
          (olympic$ | async)?.participations?.length
        }}</span>
      </ng-container>
    </div>
    <div
      class="h-full grid gap-4 rounded-xl border-2 border-teal-700 p-4 w-full place-content-center"
    >
      <h3 class="lg:text-2xl md:text-lg font-extralight text-center">
        Total number medals
      </h3>
      <ng-container *ngIf="totalMedals$ | async; else loading">
        <span class="text-center font-semibold text-xl lg:text-3xl">
          {{ totalMedals$ | async }}
        </span>
      </ng-container>
    </div>
    <div
      class="h-full grid gap-4 rounded-xl border-2 border-teal-700 p-4 w-full place-content-center"
    >
      <h3 class="lg:text-2xl md:text-lg font-extralight text-center">
        Total number of athletes
      </h3>
      <ng-container *ngIf="totalAthletes$ | async; else loading">
        <span class="text-center font-semibold text-xl lg:text-3xl">
          {{ totalAthletes$ | async }}
        </span>
      </ng-container>
    </div>
  </div>
  @if (olympicData) {
  <ngx-charts-line-chart
    [results]="lineChartData"
    [view]="view"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [yScaleMin]="getYAxisMin()"
    [yScaleMax]="getYAxisMax()"
    [autoScale]="true"
    [animations]="false"
  >
  </ngx-charts-line-chart>
  }
</main>
